@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BookHeaven.Models.Login;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/loginSignup.css">
</head>
<body>

    <div class="popup">
        <div class="title">Login</div>

        <form action="tryToLogin" method="post">
            <div class="mb-3">
                <input type="text" class="form-control formInput" name="email" placeholder="Email" value="@Model.email">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control formInput" name="password" placeholder="Password" value="@Model.password">
            </div>

            @if (Html.ValidationMessageFor(x => x.email) != null)
            {
                <span class="validation-error">@Html.ValidationMessageFor(x => x.email)</span>
            }

            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <div class="text-center">Don't have an account? <a href="showSignupView" style="text-decoration: none;">Sign up now!</a></div>
    </div>

</body>
</html>
