@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <style>
        .container {
            padding-top: 10px;
        }

        .genre_container {
            flex-grow: 1;
            background-color: burlywood;
            padding: 5px 50px 10px 50px;
            margin-bottom: 20px;
            width: 100%; /* Ensure the div covers the entire width */
        }


        .rectangle {
            cursor: pointer;
            background-color: #ADD8E6;
            padding: 10px 20px;
            height: 100px;
            border-radius: 15px;
            font-weight: bold;
            text-align: center;
            margin: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
        }

            .rectangle:hover {
                transform: scale(1.05);
            }

            .rectangle:active {
                transform: scale(0.95); /* Make the item slightly smaller when clicked */
            }


        .item {
            cursor: pointer;
            width: 250px;
            height: 355px;
            margin: 10px 10px 20px 10px;
            border-radius: 10px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            background-color: #ADD8E6;
            overflow: hidden; /* Ensure that the image doesn't overflow the container */
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
        }

            .item:hover {
                transform: scale(1.05);
            }

            .item:active {
                transform: scale(0.95); /* Make the item slightly smaller when clicked */
            }

            .item img {
                width: 170px; /* Set the width to the specified size */
                height: 230px; /* Set the height to the specified size */
                aspect-ratio: 16 / 9;
                margin-top: 8px;
                margin-bottom: 5px;
            }

            .item .item-title {
                display: block;
                margin: -3px;
                font-size: 16px;
                font-weight:bold;
                overflow: hidden;
                white-space: pre-wrap;
                width: 250px; /* Same width as the image */
                padding: 0px 15px;
                line-height: 1.2; /* Ensure enough line height for two lines */
                max-height: 3.6em; /* Set the maximum height to fit two lines */
            }
         

            .item p {
                margin: -3px;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 250px; /* Same width as the image */
                padding: 0px 20px;
            }


    </style>
</head>
<body>
    <div class="genre_container">
        <div class="row">
            <div class="col rectangle">Fiction</div>
            <div class="col rectangle">Science Fiction</div>
            <div class="col rectangle">Mystery</div>
        </div>
        <div class="row">
            <div class="col rectangle">Fantasy</div>
            <div class="col rectangle">Biography</div>
            <div class="col rectangle">Thriller</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <img src="https://embed.cdn.pais.scholastic.com/v1/products/identifiers/isbn/9780590353403/primary/renditions/600?useMissingImage=true" alt="Image" class="img-fluid">
                    <span class="item-title">Harry Potter and the Philosopher's Stone</span>
                    <p>Genre: Fiction</p>
                    <p>Stock: 123</p>
                    <p>Price: $10.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="https://images.booksense.com/images/014/130/9781594130014.jpg" alt="Image" class="img-fluid">
                    <span class="item-title">Harry Potter and the Chamber of Secrets</span>
                    <p>Genre: Science Fiction</p>
                    <p>Stock: 2365</p>
                    <p>Price: $12.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="https://images.booksense.com/images/358/136/9780439136358.jpg" alt="Image" class="img-fluid">
                    <span class="item-title">Harry Potter and the Prisoner of Azkaban</span>
                    <p>Genre: Mystery</p>
                    <p>Stock: 6</p>
                    <p>Price: $9.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="https://images.booksense.com/images/595/139/9780439139595.jpg" alt="Image" class="img-fluid">
                    <span class="item-title">Harry Potter and the Goblet of Fire</span>
                    <p>Genre: Fantasy</p>
                    <p>Stock: 123</p>
                    <p>Price: $11.99</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <img src="https://images.booksense.com/images/064/358/9780439358064.jpg" alt="Image" class="img-fluid">
                    <span class="item-title">Harry Potter and the Order of the Phoenix</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="https://prodimage.images-bn.com/pimages/9780439785969_p0_v3_s1200x630.jpg" alt="Image" class="img-fluid">
                    <span class="item-title">Harry Potter and the Half-Blood Prince</span>
                    <p>Genre: Thriller</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="https://m.media-amazon.com/images/I/811t1pfIZXL._AC_UF1000,1000_QL80_.jpg" alt="Image" class="img-fluid">
                    <span class="item-title">Harry Potter and the Deathly Hallows</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Biography</p>
                    <p>Stock: 123</p>
                    <p>Price: $14.99</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img src="#" alt="Image" class="img-fluid">
                    <span class="item-title">Name: Book Title</span>
                    <p>Genre: Thriller</p>
                    <p>Stock: 123</p>
                    <p>Price: $13.99</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
