@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BookHeaven.Models.SearchResults;

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/homePage.css">
</head>
<body>
    <div class="genre_container">
        <p class="title">Categories</p>

        <div class="row">
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Fiction</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Science Fiction</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Mystery</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Fantasy</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Biography</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Thriller</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Drama</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Comedy</div>
            <div class="col rectangle" onclick="handleCategoryButtonClick(this)">Romance</div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            @foreach (var index in Enumerable.Range(0, Model.books.Count / 4 + (Model.books.Count % 4 == 0 ? 0 : 1)))
            {
                <div class="row">
                    @foreach (Book book in Model.books.Skip(index * 4).Take(4))
                    {
                        <div class="col-md-3">
                            <div class="item">
                                <img src="@book.imageUrl" alt="Image" class="img-fluid">
                                <span class="item-title">@book.name</span>
                                <p>Genre: @book.category</p>
                                <p>Stock: @book.stock</p>
                                <p>Price: $@book.price</p>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>

    <script>
        function handleCategoryButtonClick(element) {
            var searchQuery = element.textContent.trim();
            window.location.href = '/SearchResults/showCategoryResults?searchQuery=' + encodeURIComponent(searchQuery);
        }
    </script>
</body>
</html>
