.container {
    padding-top: 10px;
}

.genre_container {
    flex-grow: 1;
    background-color: burlywood;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
    width: 100%; /* Ensure the div covers the entire width */
    overflow-x: auto;
}

.title {
    text-align: center;
    font-weight:700;
    cursor: default; /* Remove the pointer cursor */
    font-size: 24px; /* Increase the font size */
    margin-bottom: 0px;
}

.rectangle {
    cursor: pointer;
    background-color: #ADD8E6;
    padding: 10px 10px;
    height: 70px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
}

    .rectangle:hover {
        transform: scale(1.2);
    }

    .rectangle:active {
        transform: scale(0.95); /* Make the item slightly smaller when clicked */
    }


.item {
    cursor: pointer;
    width: 250px;
    height: 355px;
    margin: 10px 10px 20px 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #ADD8E6;
    overflow: hidden; /* Ensure that the image doesn't overflow the container */
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

    .item:hover {
        transform: scale(1.05);
    }

    .item:active {
        transform: scale(0.95); /* Make the item slightly smaller when clicked */
    }

    .item img {
        width: 170px; /* Set the width to the specified size */
        height: 230px; /* Set the height to the specified size */
        aspect-ratio: 16 / 9;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .item .item-title {
        display: block;
        margin: -3px;
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        white-space: pre-wrap;
        width: 250px; /* Same width as the image */
        padding: 0px 15px;
        line-height: 1.2; /* Ensure enough line height for two lines */
        max-height: 3.6em; /* Set the maximum height to fit two lines */
    }

    .item p {
        margin: -3px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 250px; /* Same width as the image */
        padding: 0px 20px;
    }

.adminButtons {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

    .adminButtons a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #4CAF50;
        border: 1px solid #4CAF50; /* Add border to the buttons */
        margin: 0 5px; /*Add some space between the buttons */
        border-radius: 5px; /*Add border radius */
        transition: all 0.3s ease-in-out; /*Add this line to enable smooth animation*/
    }

        .adminButtons a:hover {
            transform: scale(1.1); /*Increase size to 110% when hovered */
        }