/*
    #FFA500; orange/yellow
    #007bff; blue
    #4CAF50; green
    #ff4500; red
*/

.container {
    padding-top: 10px;
}

.genre_container {
    flex-grow: 1;
    background-color: burlywood;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
    width: 100%; /* Ensure the div covers the entire width */
    overflow-x: auto;
}

.title {
    text-align: center;
    font-weight:700;
    cursor: default; /* Remove the pointer cursor */
    font-size: 24px; /* Increase the font size */
    margin-bottom: 0px;
}

.rectangle {
    cursor: pointer;
    background-color: #ADD8E6;
    padding: 10px 10px;
    height: 70px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect */
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
}

    .rectangle:hover {
        transform: scale(1.2);
    }

    .rectangle:active {
        transform: scale(0.95); /* Make the item slightly smaller when clicked */
    }


.item {
    cursor: pointer;
    width: 250px;
    height: 400px;
    margin: 10px 20px 30px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #CBE1F2; /*#ADD8E6;*/
    overflow: hidden; /* Ensure that the image doesn't overflow the container */
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

    .item:hover {
        transform: scale(1.05);
    }

    .item:active {
        transform: scale(0.95); /* Make the item slightly smaller when clicked */
    }

    .item img {
        width: 159px; /* Set the width to the specified size */
        height: 255px; /* Set the height to the specified size */
        aspect-ratio: 16 / 9;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .item .item-title {
        display: block;
        margin: -3px;
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        white-space: pre-wrap;
        width: 250px; /* Same width as the image */
        padding: 0px 15px;
        line-height: 1.2; /* Ensure enough line height for two lines */
        max-height: 3.6em; /* Set the maximum height to fit two lines */
    }

    .item p {
        margin: -3px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 250px; /* Same width as the image */
        padding: 0px 20px;
    }

.adminButtons {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 10px;
}

    .adminButtons a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #4CAF50;
        border: 1px solid #4CAF50; /* Add border to the buttons */
        margin: 0 5px; /*Add some space between the buttons */
        border-radius: 5px; /*Add border radius */
        transition: all 0.3s ease-in-out; /*Add this line to enable smooth animation*/
    }

        .adminButtons a:hover {
            transform: scale(1.1); /*Increase size to 110% when hovered */
        }


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black; /* Updated border */
    border-radius: 10px; /* Rounded edges */
    padding: 20px;
    z-index: 1000;
    width: 70%; /* Increased width */
    max-width: 700px; /* Set maximum width */
}

.popup-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .popup-buttons button,
    .popup-buttons a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 1px solid #f2f2f2; /* Add border to the buttons */
        margin: 0 10px; /*Add some space between the buttons */
        border-radius: 5px; /*Add border radius */
        transition: all 0.3s ease-in-out; /*Add this line to enable smooth animation*/
    }


        .popup-buttons button:hover,
        .popup-buttons a:hover {
            background-color: #ddd;
            color: black;
            transform: scale(1.1); /*Increase size to 110% when hovered */
        }


    .popup-buttons .buttonBlueColor {
        background-color: #007bff;
        border: 1px solid #007bff;
    }

        .popup-buttons .buttonBlueColor:hover {
            background-color: #4CAF50;
            border: 1px solid #4CAF50;
            color: black;
            transform: scale(1.1); /*Increase size to 110% when hovered */
        }

    .popup-buttons .buttonRedColor {
        background-color: #FFA500;
        border: 1px solid #FFA500;
    }

        .popup-buttons .buttonRedColor:hover {
            background-color: #ff4500;
            border: 1px solid #ff4500;
            color: black;
            transform: scale(1.1); /*Increase size to 110% when hovered */
        }

.popup-content {
    display: flex;
}

.popup-image {
    flex: 40%;
    margin-right: 25px;
}

    .popup-image img {
        width: 259px; 
        height: 420px; 
        object-fit:fill;
    }

.popup-details {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
}

    .popup-details p {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: left; /* Center the text horizontally */
    }

    .popup-details h2 {
        margin-bottom: 10px;
    }


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

/* Style for the label */
.filter-label {
    font-weight: bold;
    margin: 0px 5px;
}

/* Style for the combobox */
.filter-select {
    padding: 4px 8px;
    width: 150px; /* Adjust the width as needed */
    height: 35px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

    /* Style for the dropdown arrow */
    .filter-select::after {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    /* Style for option hover */
    .filter-select option:hover {
        background-color: #ddd;
    }

.filterButton {
    margin-left: 30%;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #CBE1F2;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /*Add this line to enable smooth animation*/
}

    .filterButton:hover {
        background-color: #4CAF50;
        transform: scale(1.1); /*Increase size to 110% when hovered */
    }

.container5 {
    display: flex;
    flex-direction: row;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

.sidenav {
    width: 175px;
    min-width: 175px; /* Ensure minimum width is maintained */
    max-width: 175px; /* Ensure maximum width is maintained */
    background-color: #E9E9E9;
    margin-right: 10px;
    border-right: 1px solid black;
    flex-grow: 0; /* Allow sidebar to grow to fill available space */
}

.main-content {
    flex: 1;
    padding-left: 175px; /* Adjust padding to make space for the sidebar */
}

.sidenav div {
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    color: black;
}

    .sidenav div:hover {
        background-color: lightgray;
    }
