/* Styles for the popup container */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 350px; /* Minimum height */
    max-height: 550px; /* Maximum height */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust shadow */
    border: 2px solid black; /* Add border */
    z-index: 9999;
    transition: min-height 0.3s ease, max-height 0.3s ease; /* Smooth transition */
}


/* Styles for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Styles for the title */
.title {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the form elements */
input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }



/* Styles for error messages */
.validation-error {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}
