/* Profile View Page Styles */
.container2 {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    border-radius: 10px;
    position: relative; /* Add relative positioning */
}

.edit-button {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.logout_button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Adjust container width for smaller screens */
@media (max-width: 767px) {
    .container2 {
        max-width: calc(100% - 40px);
    }
}


.container2 h1 {
    text-align: center;
    margin-bottom: 20px;
}



.profile-info {
    margin-bottom: 20px;
}

    .profile-info h2 {
        margin-bottom: 40px;
    }

.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

    .delete-button:hover {
        color: darkred;
    }

.hidden {
    display: none !important; /* Ensure this rule takes precedence */
}


.input-field {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.small-input {
    width: calc(25% - 10px);
}


.purchase-history {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.order-details {
    background-color: #333; /* Contrasting color */
    color: white;
    padding: 10px 20px;
    text-align: center; /* Center aligning the content */
}

.order-info {
    display: flex;
    justify-content: space-between;
}

.left-info {
    text-align: center;
}

.right-info {
    text-align: center;
}

.purchase-table {
    padding-bottom: 20px;
}

    .purchase-table table {
        border-collapse: collapse;
        width: 100%;
    }

    .purchase-table th,
    .purchase-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .purchase-table th {
        background-color: #f2f2f2;
    }
